/***display hide***/
		{
		margin:0;
		padding:0;
		border:0;
		}
body
		{
		font-family:Verdana, Arial, 'ו';
		font-size:12px;
		}

div#maincontent div.panel,p.flip {
	width:960px;
	margin:0;
	padding:5px;
	text-align:left;
	background:#e5eecc;
	border:solid 1px #c3c3c3;
}

div#maincontent p.flip {
	margin-top:5px;
	
}

div.panel {
	display:none;
}


